
<!DOCTYPE html>


<head>
    <meta charset="utf-8" />
    <title>User Login | User Login </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
    <meta content="" name="author" />
    <!— BEGIN GLOBAL MANDATORY STYLES —>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!— END GLOBAL MANDATORY STYLES —>
    <!— BEGIN PAGE LEVEL PLUGINS —>
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!— END PAGE LEVEL PLUGINS —>
    <!— BEGIN THEME GLOBAL STYLES —>
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Themeforest")/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!— END THEME GLOBAL STYLES —>
    <!— BEGIN PAGE LEVEL STYLES —>
    <link href="@Url.Content("~/Content/Themeforest")/assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
    <!— END PAGE LEVEL STYLES —>
    <!— BEGIN THEME LAYOUT STYLES —>
    <!— END THEME LAYOUT STYLES —>
    <style>
        #show {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            text-align: right;
            background: url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25);
        }

    
        
    </style>
    <script>
        var storedValueusername = localStorage.getItem("username");
        var storedValuepassword = localStorage.getItem("password");
    </script>
    <script src="@Url.Content("~/Scripts")/VarUrl.js" type="text/javascript"></script>

</head>
<!— END HEAD —>
<body class=" login">
    <!— BEGIN : LOGIN PAGE 5-2 —>
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 login-container bs-reset">
                <img class="login-logo login-6" src="@Url.Content("~/Content/Themeforest")/assets/pages/img/login/nimo-big-blue-rev.png" width="50%" />
                <div class="login-content">

                    <div id="show" style="display:none"></div>
                    <h1>Login</h1>
                    <p> Providing energy for today and tomorrow. <br>Supplying natural energy for life. </p>
                    <form action="javascript:;" class="login-form" method="post">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>Invalid user name or password </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="username" id="username" required />
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" id="password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="remember" value="1" id="remember_me" /> Remember me
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-sm-8 text-right">

                                @*<button id="login" class="btn blue" type="submit" onclick="Login1()"> Sign In</button>*@
                                <input id="login" type="submit" class="btn blue" value="Sign In" onclick="Login1()">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="login-footer">
                    <div class="row bs-reset">

                        <div class="col-xs-12 bs-reset">
                            <div class="login-copyright text-right">
                                2017 &copy; NIMO | Network Intellegence for Market Optimization 
                                @*By <a target="_blank" href="https://www.scada.co.id">PT.Scada Prima Cipta</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bs-reset">
                <div class="login-bg"> </div>
            </div>
        </div>
    </div>
    <!— END : LOGIN PAGE 5-2 —>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    @*<script>
        function Login() {
            alert("Login");
        }
        </script>*@

   
    <!— BEGIN CORE PLUGINS —>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!— END CORE PLUGINS —>
    <!— BEGIN PAGE LEVEL PLUGINS —>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!— END PAGE LEVEL PLUGINS —>
    <!— BEGIN THEME GLOBAL SCRIPTS —>
    <script src="@Url.Content("~/Content/Themeforest")/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!— END THEME GLOBAL SCRIPTS —>
    <!— BEGIN PAGE LEVEL SCRIPTS —>
    <script src="@Url.Content("~/Content/Themeforest")/assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
    <!— END PAGE LEVEL SCRIPTS —>
    <!— BEGIN THEME LAYOUT SCRIPTS —>
    <!— END THEME LAYOUT SCRIPTS —>

</body>

<script language="javascript" type="text/javascript">

    
    $('form').submit(function () {
        Login1();
    });

    function Login1() {

        //$('#show').addClass('loading');
        

        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        var dataPost = { "userName": username, "userPassword": password };
        $.ajax({
            type: "POST",
            url: url_api_login,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(dataPost),
            crossOrigin: false,
            success: function (status) {
                if (status.status == true) {

                    if ($('#remember_me').is(':checked')) {
                        // save username and password
                        
                        localStorage.setItem("userName", username.value);
						localStorage.setItem("password", password.value);
                       
                       
                    } 
					
                    window.location.href = url_session;
                    $('#show').show();
                    setTimeout(function () {
                        $('#show').hide();
                        
                    }, 10000);
                    
                }
                else {
                    // alert("Gagal Login, username atau password salah");
                    $(".alert-danger", $(".login-form")).show();
                }
            }
        });

    };

    

    

</script>


<script>
    $(function () {

        if (localStorage.chkbx && localStorage.chkbx != '') {
            $('#remember_me').attr('checked', 'checked');
            $('#username').val(localStorage.usrname);
            $('#password').val(localStorage.pass);
        } else {
            $('#remember_me').removeAttr('checked');
            $('#username').val('');
            $('#password').val('');
        }

        $('#remember_me').click(function () {

            if ($('#remember_me').is(':checked')) {
                // save username and password
                localStorage.usrname = $('#username').val();
                localStorage.pass = $('#password').val();
                localStorage.chkbx = $('#remember_me').val();
            } else {
                localStorage.usrname = '';
                localStorage.pass = '';
                localStorage.chkbx = '';
            }
        });
    });

</script>